<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WorkIndicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WorkIndicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkIndicator.Properties.Settings>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPattern" serializeAs="String">
                <value>.* - CKACZOR - Remote Desktop Connection</value>
            </setting>
        </WorkIndicator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WorkIndicator.Properties.Settings>
            <setting name="RetryInterval" serializeAs="String">
                <value>00:00:10</value>
            </setting>
        </WorkIndicator.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
